.app {
  background-color: var(--body_background);
  min-height: 100vh;
  color: var(--body_color);
}

/* .content-wrapper {
  flex-grow: 1;
} */

.sidenav {
  width: 0;
  transition: width 0.3s ease;
  border-right: 1px dashed rgba(145, 158, 171, 0.2);
}

.sidenav.open {
  width: auto;
}
