.student-card {
  color: rgb(0, 75, 80);
  background: linear-gradient(
      135deg,
      rgba(91, 228, 155, 0.2),
      rgba(0, 167, 111, 0.2)
    )
    rgb(255, 255, 255);
  border-radius: 16px;
  height: 100%;
}
